# Compiled Object files
*.slo
*.lo
*.o
*.obj
Main

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Makefiles
CMakeCache.txt
motion/CMakeFiles/*
*.cmake
frames/*
Makefile

# Python
*.py.save
*.pyc
